<h1>Quote API</h1>
<form method={{method}} action={{url}}>
  <fieldset>
    <legend>{{title}}</legend>
    <div>
      <label for="quote">Quote text:</label>
      <textarea id="quote" name="quote">{{quote.quote}}</textarea>
    </div>
    <div>
      <label for="person">Author:</label>
      <input id="person" name="person" value="{{quote.person}}">
    </div>
  </fieldset>
  <div>
    <button type="submit">{{submit}}</button>
  </div>
</form>
<div id="new-quote">
</div>
